:root{
    --background-status1: #D8CBFD;
    --background-status2: #9672F9;
    --background-status3: #263238;
    --margin-right: 5px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.progress {
    border: 1px solid #E8E9EB;
    border-radius: 8px;
    display: flex;
    align-content: center;
    padding: 30px;
}

.progress-item {
    width: 25px;
    margin-right: var(--margin-right);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.progress-item:last-child {
    margin-right: 0;
}

.status1 {
    background: var(--background-status1);
}

.status2 {
    background: var(--background-status2);
}

.status3 {
    background: var(--background-status3);
}