:root {
    --color1: #ECEFF1;
    --color2: #CFD8DC;
    --color3: #B0BEC5;
    --color4: #90A4AE;
    --color5: #78909C;
    --color6: #607D8B;
    --color-code: #FFFFFF;
    --background-code: #151515;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.background {
    width: 128px;
    height: 192px;
    border-radius: 8px 8px 0 0;
}

.code {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 0;
    background: var(--background-code);
    border-radius: 0 0 8px 8px;
    color: var(--color-code);
}

.color1 {
    background: var(--color1);
}

.color2 {
    background: var(--color2);
}

.color3 {
    background: var(--color3);
}

.color4 {
    background: var(--color4);
}

.color5 {
    background: var(--color5);
}

.color6 {
    background: var(--color6);
}